body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('flowers.jpg');
    min-height: 100%;
}

/* Second image (tech) */
.bgimg-2 {
    background-image: url("robogals.jpg");
    min-height: 400px;
}

/* Third image (arts) */
.bgimg-3 {
    background-image: url("hiphop.jpg");
    min-height: 400px;
}

/* Fourth image (Contact) */
.bgimg-4 {
    background-image: url("lineart.jpg");
    min-height: 400px;
}
.thinbutton {
  border:none;
  display:inline-block;
  outline:0;
  padding:4px 8px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.center {
    position: relative;
    left: 0;
    bottom: 60%;
    /*width: 100%;*/
    text-align: center;
    font-size: 18px;
}

.container {

  height: 160px;
  overflow: hidden;

}

.dopeimg {
    height: 160px;
}

.mylink:link{
  color: red;
  text-decoration: none;
}
.mylink:hover{
  color: black;
  text-decoration: none;
}

.poop{
  display: inline-block;
  margin: 0 auto;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #474b51;
  text-align: center;
}

.logospacing {
  padding-top: 20px;
}

.table {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  display:table;
  text-align: center;

}

tr{
  line-height: 50px;
}
.table tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.w3-table {
  text-align: center;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}
