body {
  font-family: 'Questrial', sans-serif;
  background-image: url("lineart.jpg");
   background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;
   background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(204, 235, 255);
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a.active{
  border-style: solid;
  border-color: white;
}

li a:hover, .dropdown:hover, .dropbtn {
    background-color: rgba(204, 0, 82, 0.6);
    color: white;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
div.header {
  background: rgba(204, 235, 255, 0.6);
   border-radius: 5px;
   margin: 100px 150px 100px 80px;
}

div.header p {
  margin: 5%;
  color: white;
}

img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
